/* EDITED CLIENT PAGE */
#activities-list .no-more {
	padding:10px 20px;
}
#form-add-group .form-control{
	height: 30px;
}
.table.table-vcenter td.text-left111{
	vertical-align: top;
}
#web-form .help-block-error,
#login-form .help-block-error{
	display: inline-block;
	margin-left: 200px;
}
.notes-list ul.media-list li.media div.media-body{
	width: auto;
}
.widget .widget-simple{
	min-height: 112px;
}
.save_changes{
	padding: 4px 12px;
}
#page-wrapper .sidebar-partial{
	min-height: 645px;
}

/* loading */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #000 
                url('../images/FhHRx.gif') 
                50% 50% 
                no-repeat;
    opacity: 0.5;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loading {
    display: block;
}

#filter a.active {
    font-weight: bold;
}

.help-block {
  padding-bottom: 10px;
}

.cl-title, .cl-subtitle, .cl-label, .text, .textarea, .select {
  cursor: pointer;
}

  
