/* EDITED CLIENT PAGE */
#activities-list .no-more {
	padding:10px 20px;
}
#form-add-group .form-control{
	height: 30px;
}
.table.table-vcenter td.text-left111{
	vertical-align: top;
}
#web-form .help-block-error,
#login-form .help-block-error{
	display: inline-block;
	margin-left: 200px;
}
.notes-list ul.media-list li.media div.media-body{
	width: auto;
}
.widget .widget-simple{
	min-height: 112px;
}
.save_changes{
	padding: 4px 12px;
}
#page-wrapper .sidebar-partial{
	min-height: 645px;
}